<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatRoom</title>
</head>
<body>
    <h2>WebSocket Chat Demo</h2>
    <div>
        <input type="text" name="inputMsg" id="msgInput" placeholder="Input your messages...">
        <button onclick="sendMessage()">Send</button>
    </div>
    <div id="chatLog" style="border:1px solid #ccc; height: 200px; overflow: auto; margin-top: 10px; padding: 5px;"></div>

    <script src="../statics/js/send.js"></script>
</body>
</html>